<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
 <title>American Physician Map</title>
  
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>  
</script> <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
  
      <link rel="stylesheet" href="static/css/style.css">
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script type="text/javascript">

// The latitude and longitude of your business / place
var position = [40.850033, -97.6500523];
var activeInfoWindow;    

function showGoogleMaps() {

    var latLng = new google.maps.LatLng(position[0], position[1]);

    var mapOptions = {
        zoom: 5, // initialize zoom level - the max value is 21
        streetViewControl: false, // hide the yellow Street View pegman
        scaleControl: true, // allow users to zoom the Google Map
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        center: latLng
    };

    map = new google.maps.Map(document.getElementById('googlemaps'),
        mapOptions);

    // Show the default red marker at the location
    marker = new google.maps.Marker({
        position: (null, null),
        map: map,
        draggable: false,
        animation: google.maps.Animation.DROP
    });
}

google.maps.event.addDomListener(window, 'load', showGoogleMaps);
</script>
  
</head>

<body>

  <nav class="navigation">
  <div class="container">
   <span class="title">
   <i class="fa fa-user-md"></i> American Physician Map 
  </span> 
</div>
</nav>
	  <div id="googlemaps"></div>
<div class="container">
	<form method='post' class="search-box" id="SBox"> {% csrf_token %}
       <input id="search" name="search" placeholder="Search..." type="text">
      <button class="also search-link" id="searchclick"></button>
  </div>
</div>
  
  

    <script  src="static/js/index.js"></script>




</body>

</html>
