<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
 <title>American Physician Map</title>
  
  
  
      <link rel="stylesheet" href="static/css/style.css">
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script type="text/javascript">

// The latitude and longitude of your business / place
var position = [27.1959739, 78.02423269999997];

function showGoogleMaps() {

    var latLng = new google.maps.LatLng(position[0], position[1]);

    var mapOptions = {
        zoom: 16, // initialize zoom level - the max value is 21
        streetViewControl: false, // hide the yellow Street View pegman
        scaleControl: true, // allow users to zoom the Google Map
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        center: latLng
    };

    map = new google.maps.Map(document.getElementById('googlemaps'),
        mapOptions);

    // Show the default red marker at the location
    marker = new google.maps.Marker({
        position: latLng,
        map: map,
        draggable: false,
        animation: google.maps.Animation.DROP
    });
}

google.maps.event.addDomListener(window, 'load', showGoogleMaps);
</script>
  
</head>

<body>

  <nav class="navigation">
  <div class="container">
   <span class="title">
   <i class="fa fa-home"></i> American Physician Map 
  </span> 
</div>
</nav>
	  <div id="googlemaps"></div>
<div class="container">
    <div class="search-box" id="SBox">
       <input id="search" placeholder="Search..." type="text">
      <div class="also search-link" onclick="searchbox(0)" id="searchclick"></div>
  </div>
</div>
  
  

    <script  src="static/js/index.js"></script>




</body>

</html>
