<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
 <title>American Physician Map</title>
  
  
  
      <link rel="stylesheet" href="static/css/style.css">

  
</head>

<body>

  <nav class="navigation">
  <div class="container">
   <span class="title">
   <i class="fa fa-home"></i> American Physician Map 
  </span> 
    <span class="search-control"  onclick="searchbox(1)">
      Search <a style="font-family:fontawesome;"></a>
    </span>
</div>
</nav>
<div class="container">
    <div class="search-box" id="SBox">
       <input id="search" placeholder="Search..." type="text">
      <div class="also search-link" onclick="searchbox(0)" id="searchclick"></div>
      <a class="fa fa-cog also setting"></a>
  </div>
</div>
  
  

    <script  src="static/js/index.js"></script>




</body>

</html>
