@import url('https://fonts.googleapis.com/css?family=Cookie');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');
@import url('https://fonts.googleapis.com/css?family=Merienda');
*{margin:0px;padding:0px;}
body{
  background-color:#eee;
}
.top-bar {
  padding-top:
  height: 6vh;
  background-color:#fff;
  font-family:'Cookie';
  font-size:4vh;
  color:#62bb49;
  box-shadow: 0px 3px 4px #c8c8c8;
  z-index:3;
}

#googlemaps {
  height: 94vh;
  width: 100vw;
  position:absolute;
  z-index:-1;
}

.search-form {
  width: 100%;
  top:48px;
  height:48px;
  position: relative;
  margin:auto;
  display: flex;
  justify-content: center;
}

.search-input {
  width:500px;
}

.search-form > #search {
  height:48px;
  border-radius:6px 0px 0px 6px;
  box-shadow:none;
  box-shadow: 1px 2px 2px #ddd;
}

input , input:focus {
  border:none;
  box-shadow:none;
  background-color:none;
  outline: 0;
  font-size:16px;
  font-family:'Open Sans';
  color:#bbb;
  padding:0px 12px;
}
button, button:focus {
  border:none;
}

.search-button {
  font-family:'fontawesome';
  color:#bbb;
  display:inline-block;
  background-color:#fff;
  height:48px;
  width:48px;
  text-align: center;
  cursor: pointer;
  border-left:1px solid #ddd;
  box-shadow: 1px 2px 2px #ddd;
  border-radius:0px 6px 6px 0px;
}

.search-button:hover {color:#686868;}

h2 {
  font-family:'Open Sans';
  color:#62bb49;
}
h3 {
  font-family:'Open Sans';
  color:#62bb49;
}

.fa-home {
  font-size:22px;
}
